<a href="https://colab.research.google.com/github/mveer1/PythonNotes/blob/main/AdvancedPythonTopics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- **Lists in Python - Advanced Python 01 - Programming Tutorial**
- **Tuples in Python - Advanced Python 02**
- **Dictionaries in Python - Advanced Python 03**
- **Sets in Python - Advanced Python 04**
- **Strings in Python - Advanced Python 05**
- **Collections in Python - Advanced Python 06**
- **Itertools in Python - Advanced Python 07**
- **Lambda in Python - Advanced Python 08 Map Filter Reduce**
- **Exceptions in Python - Advanced Python 09**
- **Logging in Python - Advanced Python 10**
- **JSON in Python - Advanced Python 11**
- **Random Numbers in Python - Advanced Python 12**
- **Decorators in Python - Advanced Python 13**
- **Generators in Python - Advanced Python 14**
- **Threading vs Multiprocessing in Python - Advanced Python 15**
- **Threading in Python - Advanced Python 16**
- **Multiprocessing in Python - Advanced Python 17**
- **Function arguments in detail - Advanced Python 18**
- **The asterisk (*) operator in Python - Advanced Python 19**
- **Shallow vs Deep Copying in Python - Advanced Python 20**
- **Context Managers in Python - Advanced Python 21**

# **Lists**

In [ ]:
import sys
print(sys.getsizeof(l), "bytes")

l1.copy(l2)
l1 = list(l2)
l1 = l2[:]
# are all the same
# but not same as
l1 = l2


l1 = [..]
l2 = [..]
for i,j in zip(l1,l2):  #could be more than 2
    pass
for i in zip(l1,l2):
    # prints tuples
    pass

# **Tuples**

In [ ]:
# immutable, ordered
("kjh") is not a tuple, its a str
("kjh",) is.

tu = tuple(l1)

# for in
# if in 
# both work

In [25]:
# tuple unpacking
mt = (0,1,2,3,4)
i1, *i2, i3 = mt  #i2 is list([1,2,3])

a,_ = (1,2)

In [27]:
#working with a tuple can be efficient sometimes
import sys
l = [0,1,2,"hello", True]
t = (0,1,2,"hello", True)
print(sys.getsizeof(l), "bytes")
print(sys.getsizeof(t), "bytes")

print('-'*9)
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]", number= 1000000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)", number= 1000000))

112 bytes
96 bytes
---------
0.07837460000064311
0.01092386899927078

In [26]:
#not related to tuple but
n1 = 100_000_000
n2 = 100_000
print(n1+n2)
print(f'{n1+n2:,}')

100100000
100,100,000

In [ ]:
class Person():
    pass

p = Person()
p.first = "m"
p.last = "c"

# and

setattr(p, "first", "m")
print(p.first)

# and

first_key = "first"
first_val = "m"
setattr(p, first_key, first_val)
print(person.first)

# and
first = getattr(p, first_key)
print(first)

# and
p_info = {'first':'m', 'kast':'c'}
for k,v in p_info.items():
    setattr(p, k,v)
print(p.first, p.last)

for k in p_info.keys():
    print(getattr(p,k))
# ------------------------------------------

# **Dictionaries**

In [28]:
#unordered, mutable
d = dict(name="m", age="19")
print(d)

{'name': 'm', 'age': '19'}

In [ ]:
del d["name"]

d.pop("age")

d.popitem()      #last

In [ ]:
d2 = dict(d1)
d2 = d1.copy()
# not as same as
d2 = d1

In [31]:
# Merging two dictionary 
d1 = dict(name="m", age="19", email="xyz")
d2 = {"name":"d", 'age':"20", 'city':"a"}

d1.update(d2)
print(d1)  #keys get added or overidden

{'name': 'd', 'age': '20', 'email': 'xyz', 'city': 'a'}

In [32]:
t = (1,2)
l = [1,2]

d1 = {t:14}
d2 = {l:14}  #wont work cause lists are mutable, (unhashable)

# **Sets**

In [ ]:
#unordered, mutable, noduplicates
set1 = set(l)
set2 = set("asdgd")
set3 = {1,2,3,4,1}
set4 = {} #is a dict
set4 = set() #is a set


set3.remove(6) #gives an error
set3.discard(6) #does nothing
set3.clear()  #clears
set3.pop() #returns an arbitary number


s = s1.union(s2)
s = s1.intersection(s2)
s = s1.difference(s2)        #in s1 but not in s2
s = s1.symmetric_difference(s2)  #all except common elements
#  all this will return a set, wont modify original sets 
s1.update(s2)
s1.intersection_update(s2)
s1.difference_update(s2)
s1.symmetric_difference_update(s3)


s1.issubset(s2)
s1.issuperset(s2)
s1.isdisjoint(s2)


s2 = set(s1)
s2 = s1.copy()
# not as same as
s2 = s1

In [ ]:
a = frozenset([1,2,2,3,4])
#cant change/add after creating

# **Strings**

In [22]:
startswith, endswith
find, index
split and join

lis = ['a']*6
a = ''.join(lis)
print(a)
# is way better than for loop and using +

In [3]:
#formatting a string
var = "tom"
ms = "hey %s" % var         #%.2f or something if var is float
print(ms)

v = 3.12344
ms2 = "hey {:.2f} and {}".format(v, var)
print(ms2)

#f-strings 
ms3 = f"hey {v+2} and {var}"

hey tom
hey 3.12 and tom

# **Collections**

- ### Counter
- ### namedtuple
- ### OrderedDict
- ### defaultdict
- ### deque

In [8]:
from collections import Counter
a = "aaabbbbfffffff"
d = Counter(a)
print(d)
print(d.most_common(2))      #list of two tuple
print(list(d.elements()))

Counter({'f': 7, 'b': 4, 'a': 3})
[('f', 7), ('b', 4)]
['a', 'a', 'a', 'b', 'b', 'b', 'b', 'f', 'f', 'f', 'f', 'f', 'f', 'f']

In [ ]:
from collections import namedtuple        #liteweight object type, similar to struct
Point = namedtuple('Point', 'x,y')
pt = Point(1,-4)
print(pt, '     ', pt.x, pt.y)

In [10]:
from collections import OrderedDict         #newer python 3.7 does remebr the order
od = OrderedDict()
od['a'] = 1
od['s'] = 2
od['f'] = 3
od['b'] = 4
print(od)

OrderedDict([('a', 1), ('s', 2), ('f', 3), ('b', 4)])

In [ ]:
from collections import defaultdict          #if the key has not been set yet, itll have a default value
d = defaultdict(int)           #thats the type of the default key
d['a'] = 'hey'
d['b'] = 2
print(d['c'])

de = defaultdict()
de['a'] = 1
print(de['b'])

In [18]:
from collections import deque       #double ended queue
d = deque()
d.append(1)
d.append(2)
d.appendleft(3)
print(d)

d.pop()
d.popleft()

d.extend([1,2,3,4])
d.extendleft([7,8,9])      #adds [9,8,7] to the start 
print(d)

d.rotate(2)      #neg fine too
print(d)

deque([3, 1, 2])
deque([9, 8, 7, 1, 1, 2, 3, 4])
deque([3, 4, 9, 8, 7, 1, 1, 2])

# **Itertools**

- ### product
- ### permutations
- ### combinations
- ### accumulate
- ### groupby
- ### infinite iterators

In [22]:
from itertools import product
a = [1,2]
b = [3,4]

prod = product(a,b, repeat=2)      #repeat=1 default
print(list(prod))

[(1, 3, 1, 3), (1, 3, 2, 3), (1, 3, 2, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 2, 3)]

In [25]:
from itertools import permutations
a = [1,2,3]
perm = permutations(a)
print(list(perm))
perm2 = permutations(a,2)
print(list(perm2))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [31]:
from itertools import combinations
a = [1,2,3]
c = combinations(a,2)
print(list(c))

[(1, 2), (1, 3), (2, 3)]

In [33]:
from itertools import combinations_with_replacement as cwr
a = [1,2,3]
c = cwr(a,2)
print(list(c))

[(1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]

In [40]:
from itertools import accumulate as acc
import operator
a = [1,2,3,5,4,5]
ac = acc(a)
b = acc(a, func=max)
c = acc(a, func=min)
d = acc(a, func=operator.mul)
print(a)
print(list(ac))
print(list(b))
print(list(c))
print(list(d))

[1, 3, 6, 11, 15, 20]
[1, 2, 3, 5, 5, 5]
[1, 1, 1, 1, 1, 1]
[1, 2, 6, 30, 120, 600]

In [47]:
from itertools import groupby
a = [1,2,3,4]
def d(x):
    if x<2:
        return "small"
    if x==2:
        return "eq"
    if x>2:
        return "large"
go = groupby(a, key = d)
for key,value in go:
    print(key, list(value))

print('-'*9)
#you can also groupby like
persons = [{'name':'m', 'age':23},
           {'name':'s', 'age':23},
           {'name':'d', 'age':26},
           {'name':'c', 'age':25}]

g = groupby(persons, key = lambda x:x['age'])
for key,value in g:
    print(key, list(value))

small [1]
eq [2]
large [3, 4]
---------
23 [{'name': 'm', 'age': 23}, {'name': 's', 'age': 23}]
26 [{'name': 'd', 'age': 26}]
25 [{'name': 'c', 'age': 25}]

In [53]:
#infinite iterators
from itertools import count, cycle, repeat

for i in count(3):
    if i == 10: break
    print(i)

print('-'*9)

a = [1,2,3]
for i in cycle(a):
    print(i)
    break  #we dont want inf loop here

print('-'*9)

for i in repeat(1, times=4):    #or just 1,4
    print(i)

3
4
5
6
7
8
9
---------
1
---------
1
1
1
1

# **Lambda**

In [ ]:
#

# **Exceptions**

# **Logging**

# **JSON**

# **Random Numbers**

# **Decorators**

# **Generators**

# **Threading vs Multiprocessing**

# **Threading**

# **Multiprocessing**

# **Function arguments**

# **The asterisk (*) operator**


# **Shallow vs Deep Copying**

# **Context Managers**

In [ ]:
f = open(....)
fs = f.read()
f.close 

# is same as
with open(..) as f:
    fs = f.read()