<a href="https://colab.research.google.com/github/mveer1/PythonNotes/blob/main/AdvancedPythonTopics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- **Lists in Python - Advanced Python 01 - Programming Tutorial**
- **Tuples in Python - Advanced Python 02**
- **Dictionaries in Python - Advanced Python 03**
- **Sets in Python - Advanced Python 04**
- **Strings in Python - Advanced Python 05**
- **Collections in Python - Advanced Python 06**
- **Itertools in Python - Advanced Python 07**
- **Lambda in Python - Advanced Python 08 Map Filter Reduce**
- **Exceptions in Python - Advanced Python 09**
- **Logging in Python - Advanced Python 10**
- **JSON in Python - Advanced Python 11**
- **Random Numbers in Python - Advanced Python 12**
- **Decorators in Python - Advanced Python 13**
- **Generators in Python - Advanced Python 14**
- **Threading vs Multiprocessing in Python - Advanced Python 15**
- **Threading in Python - Advanced Python 16**
- **Multiprocessing in Python - Advanced Python 17**
- **Function arguments in detail - Advanced Python 18**
- **The asterisk (*) operator in Python - Advanced Python 19**
- **Shallow vs Deep Copying in Python - Advanced Python 20**
- **Context Managers in Python - Advanced Python 21**

# **Lists**

In [ ]:
import sys
print(sys.getsizeof(l), "bytes")

l1.copy(l2)
l1 = list(l2)
l1 = l2[:]
# are all the same
# but not same as
l1 = l2


l1 = [..]
l2 = [..]
for i,j in zip(l1,l2):  #could be more than 2
    pass
for i in zip(l1,l2):
    # prints tuples
    pass

# **Tuples**

In [ ]:
# immutable, ordered
("kjh") is not a tuple, its a str
("kjh",) is.

tu = tuple(l1)

# for in
# if in 
# both work

In [ ]:
# tuple unpacking
mt = (0,1,2,3,4)
i1, *i2, i3 = mt  #i2 is list([1,2,3])

a,_ = (1,2)

In [ ]:
#working with a tuple can be efficient sometimes
import sys
l = [0,1,2,"hello", True]
t = (0,1,2,"hello", True)
print(sys.getsizeof(l), "bytes")
print(sys.getsizeof(t), "bytes")

print('-'*9)
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]", number= 1000000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)", number= 1000000))

112 bytes
96 bytes
---------
0.07837460000064311
0.01092386899927078

In [ ]:
#not related to tuple but
n1 = 100_000_000
n2 = 100_000
print(n1+n2)
print(f'{n1+n2:,}')

100100000
100,100,000

In [ ]:
class Person():
    pass

p = Person()
p.first = "m"
p.last = "c"

# and

setattr(p, "first", "m")
print(p.first)

# and

first_key = "first"
first_val = "m"
setattr(p, first_key, first_val)
print(person.first)

# and
first = getattr(p, first_key)
print(first)

# and
p_info = {'first':'m', 'kast':'c'}
for k,v in p_info.items():
    setattr(p, k,v)
print(p.first, p.last)

for k in p_info.keys():
    print(getattr(p,k))
# ------------------------------------------

# **Dictionaries**

In [ ]:
#unordered, mutable
d = dict(name="m", age="19")
print(d)

{'name': 'm', 'age': '19'}

In [ ]:
del d["name"]

d.pop("age")

d.popitem()      #last

In [ ]:
d2 = dict(d1)
d2 = d1.copy()
# not as same as
d2 = d1

In [ ]:
# Merging two dictionary 
d1 = dict(name="m", age="19", email="xyz")
d2 = {"name":"d", 'age':"20", 'city':"a"}

d1.update(d2)
print(d1)  #keys get added or overidden

{'name': 'd', 'age': '20', 'email': 'xyz', 'city': 'a'}

In [ ]:
t = (1,2)
l = [1,2]

d1 = {t:14}
d2 = {l:14}  #wont work cause lists are mutable, (unhashable)

# **Sets**

In [ ]:
#unordered, mutable, noduplicates
set1 = set(l)
set2 = set("asdgd")
set3 = {1,2,3,4,1}
set4 = {} #is a dict
set4 = set() #is a set


set3.remove(6) #gives an error
set3.discard(6) #does nothing
set3.clear()  #clears
set3.pop() #returns an arbitary number


s = s1.union(s2)
s = s1.intersection(s2)
s = s1.difference(s2)        #in s1 but not in s2
s = s1.symmetric_difference(s2)  #all except common elements
#  all this will return a set, wont modify original sets 
s1.update(s2)
s1.intersection_update(s2)
s1.difference_update(s2)
s1.symmetric_difference_update(s3)


s1.issubset(s2)
s1.issuperset(s2)
s1.isdisjoint(s2)


s2 = set(s1)
s2 = s1.copy()
# not as same as
s2 = s1

In [ ]:
a = frozenset([1,2,2,3,4])
#cant change/add after creating

# **Strings**

In [ ]:
startswith, endswith
find, index
split and join

lis = ['a']*6
a = ''.join(lis)
print(a)
# is way better than for loop and using +

In [ ]:
#formatting a string
var = "tom"
ms = "hey %s" % var         #%.2f or something if var is float
print(ms)

v = 3.12344
ms2 = "hey {:.2f} and {}".format(v, var)
print(ms2)

#f-strings 
ms3 = f"hey {v+2} and {var}"

hey tom
hey 3.12 and tom

# **Collections**

- ### Counter
- ### namedtuple
- ### OrderedDict
- ### defaultdict
- ### deque

In [ ]:
from collections import Counter
a = "aaabbbbfffffff"
d = Counter(a)
print(d)
print(d.most_common(2))      #list of two tuple
print(list(d.elements()))

Counter({'f': 7, 'b': 4, 'a': 3})
[('f', 7), ('b', 4)]
['a', 'a', 'a', 'b', 'b', 'b', 'b', 'f', 'f', 'f', 'f', 'f', 'f', 'f']

In [ ]:
from collections import namedtuple        #liteweight object type, similar to struct
Point = namedtuple('Point', 'x,y')
pt = Point(1,-4)
print(pt, '     ', pt.x, pt.y)

In [ ]:
from collections import OrderedDict         #newer python 3.7 does remebr the order
od = OrderedDict()
od['a'] = 1
od['s'] = 2
od['f'] = 3
od['b'] = 4
print(od)

OrderedDict([('a', 1), ('s', 2), ('f', 3), ('b', 4)])

In [ ]:
from collections import defaultdict          #if the key has not been set yet, itll have a default value
d = defaultdict(int)           #thats the type of the default key
d['a'] = 'hey'
d['b'] = 2
print(d['c'])

de = defaultdict()
de['a'] = 1
print(de['b'])

In [ ]:
from collections import deque       #double ended queue
d = deque()
d.append(1)
d.append(2)
d.appendleft(3)
print(d)

d.pop()
d.popleft()

d.extend([1,2,3,4])
d.extendleft([7,8,9])      #adds [9,8,7] to the start 
print(d)

d.rotate(2)      #neg fine too
print(d)

deque([3, 1, 2])
deque([9, 8, 7, 1, 1, 2, 3, 4])
deque([3, 4, 9, 8, 7, 1, 1, 2])

# **Itertools**

- ### product
- ### permutations
- ### combinations
- ### accumulate
- ### groupby
- ### infinite iterators

In [ ]:
from itertools import product
a = [1,2]
b = [3,4]

prod = product(a,b, repeat=2)      #repeat=1 default
print(list(prod))

[(1, 3, 1, 3), (1, 3, 2, 3), (1, 3, 2, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3), (2, 3, 2, 3), (2, 3, 2, 3)]

In [ ]:
from itertools import permutations
a = [1,2,3]
perm = permutations(a)
print(list(perm))
perm2 = permutations(a,2)
print(list(perm2))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [ ]:
from itertools import combinations
a = [1,2,3]
c = combinations(a,2)
print(list(c))

[(1, 2), (1, 3), (2, 3)]

In [ ]:
from itertools import combinations_with_replacement as cwr
a = [1,2,3]
c = cwr(a,2)
print(list(c))

[(1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]

In [ ]:
from itertools import accumulate as acc
import operator
a = [1,2,3,5,4,5]
ac = acc(a)
b = acc(a, func=max)
c = acc(a, func=min)
d = acc(a, func=operator.mul)
print(a)
print(list(ac))
print(list(b))
print(list(c))
print(list(d))

[1, 3, 6, 11, 15, 20]
[1, 2, 3, 5, 5, 5]
[1, 1, 1, 1, 1, 1]
[1, 2, 6, 30, 120, 600]

In [ ]:
from itertools import groupby
a = [1,2,3,4]
def d(x):
    if x<2:
        return "small"
    if x==2:
        return "eq"
    if x>2:
        return "large"
go = groupby(a, key = d)
for key,value in go:
    print(key, list(value))

print('-'*9)
#you can also groupby like
persons = [{'name':'m', 'age':23},
           {'name':'s', 'age':23},
           {'name':'d', 'age':26},
           {'name':'c', 'age':25}]

g = groupby(persons, key = lambda x:x['age'])
for key,value in g:
    print(key, list(value))

small [1]
eq [2]
large [3, 4]
---------
23 [{'name': 'm', 'age': 23}, {'name': 's', 'age': 23}]
26 [{'name': 'd', 'age': 26}]
25 [{'name': 'c', 'age': 25}]

In [ ]:
#infinite iterators
from itertools import count, cycle, repeat

for i in count(3):
    if i == 10: break
    print(i)

print('-'*9)

a = [1,2,3]
for i in cycle(a):
    print(i)
    break  #we dont want inf loop here

print('-'*9)

for i in repeat(1, times=4):    #or just 1,4
    print(i)

3
4
5
6
7
8
9
---------
1
---------
1
1
1
1

# **Lambda**
- ## Map
- ## Filter
- ## Reduce

In [ ]:
add10 = lambda x:x+10
print(add10(4))

#two args
mul = lambda x,y:x*y

print('-'*10)

#map(func, seq)
a = [1,2,3,4,5]
b = map(lambda x:x<<1, a)
print(list(b))

# is same as
c = [x<<1 for x in a]
print(c)

print('-'*10)

#Filter
# filter(func()->bool, seq)       i.e. it returns a bool
a = [1,2,3,4,5]
b = map(lambda x:x%2==0, a)
c = filter(lambda x:x%2==0, a)
print(list(b))
print(list(c))


print('-'*10)
#Reduce
from functools import reduce             #the first arg, in reduce is a fucntion and that function must take two args
a = [1,2,3,4,5,6]

product_a = reduce(lambda x,y: x*y, a) 
print(product_a)

14
----------
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
----------
[False, True, False, True, False]
[2, 4]
----------
720

# **Exceptions**
> [Click for documentation](https://docs.python.org/3/library/exceptions.html)

In [ ]:
# Raising an Error:
x = -1

if x<0:
    raise Exception("should be positve")

assert x>0, "should be positive"

In [ ]:
#Handling exceptions
try:
    raise Exception("should be negative")
except Exception as e:
    print(e,1)


try:
    a = 3/0
    b = 1 + 'd'
except ZeroDivisionError as e:
    print(e)
except TypeError as e:
    print(e)
else:
    print("this prints if no exception occur")
finally:
    print("this runs always, no matter exception occurs or not")

In [ ]:
#Creating exceptions

class ValueTooHighError(Exception):
    pass

def test(x):
    if x>100:
        raise Exception("value too high")

test(200)

In [ ]:
class ValueTooSmallError(Exception):
    def __init__(self, message, value):
        self.message = message
        self.value = value
def test(x):
    if x<5:
        raise ValueTooSmallError("value is too small", x)
try:
    test(2)
except ValueTooSmallError as e:
    print(e.message, e.value)

# **Logging**

- Different LogLevel
- Different Configuration options
- How to log in different modules
- How to use different LogHandlers
- How to capture StackTraces in your log
- How to use Rotating FileHandler

In [ ]:
import logging
#5 different levels of loggin

logging.debug("This is a debug mssg")
logging.info("This is a info mssg")
logging.warning("This is a warning mssg")
logging.error("This is a error mssg")
logging.critical("This is a critical mssg")

#only warning and above are printed

WARNING:root:This is a warning mssg
ERROR:root:This is a error mssg
CRITICAL:root:This is a critical mssg

In [ ]:
#https://docs.python.org/3/library/logging.html#logging.basicConfig
import logging
logging.basicConfig(level=logging.DEBUG, format= "%(asctime)s - %(names)s - %(levelname)s - %(message)s", datefmt = "%m/%d/%Y %H:%M:%S")

logging.debug("This is a debug mssg")
logging.info("This is a info mssg")
logging.warning("This is a warning mssg")
logging.error("This is a error mssg")
logging.critical("This is a critical mssg")

WARNING:root:This is a warning mssg
ERROR:root:This is a error mssg
CRITICAL:root:This is a critical mssg

In [ ]:
#create a .py file called anything say helper.py, write this:
import logging
logger = logging.getLogger(__name__) #name would the filename
logger.info("coming from helper.py")

#then in main.py, just write import helper below the loggin.basicconfig line, remove the rest of below
# a line will be printed cause it propagated our logger to the root logger, you can add:
logger.propagate = False #before the info line. and try again, nothing will be printed.

In [ ]:
import logging
logger = logging.getLogger(__name__)

#create handler
stream_h = logging.StreamHandler()
file_h = logging.FileHandler("file.log")

#level and the format
stream_h.setLevel(logging.WARNING)
file_h.setLevel(logging.ERROR)

formatter = logging.Formatter("%(names)s - %(levelname)s - %(message)s")
stream_h.setFormatter(formatter)
file_h.setFormatter(formatter)

logger.addHandler(stream_h)
logger.addHandler(file_h)

logger.warning("this is a warning")
logger.error("this is a error")


#loggers, handlers, formatters  logging.conf
# https://www.youtube.com/watch?v=p0A4CV4MWd0&list=PLqnslRFeH2UqLwzS0AwKDKLrpYBKzLBy2&index=11&ab_channel=PythonEngineer

# **JSON**

In [ ]:
#serialization
import json

p = {}   #a json object in python

pjson = json.dumps(p, indent=4, separators=('; ', '= '))        #use default sep only though   #add indent to beautify   #sort_keys=True can be added here
print(pjson)  #will print json text

with open('person.json', 'w') as f:
    json.dump(p, f)        #note its only dump not dumps, and use p, not pjson here, other arguments can be applied here too

![image.png]()

In [ ]:
#deserialization
p = {}
pjson = json.dumps(p, indent=4, sort_keys=True)

p2 = json.loads(pjson)
print(p2)

with open('p.json', 'r') as f:
    p2 = json.load(f)
    print(person)

In [ ]:
class User:
    def __init__(self, name, age):
        self.name = name
        self.age = age

user = User('Max', 27)

# userJSON = json.dumps(user)      #this wont work, its not serializable so we have to encode it manually

def encode_user(o):
    if isinstance(o, User):      #if o is object of class User
        return {'name': o.name, 'age':o.age, o.__class__.__name__:True}
    else:
        raise TypeError("still not json serialization")

userJSON = json.dumps(user, default=encode_user)

#we can also import a general json encoder:

from json import JSONEncoder
class UserEncoder(JSONEncoder):
    def default(self, o):
        if isinstance(o, User):      #if o is object of class User
            return {'name': o.name, 'age':o.age, o.__class__.__name__: True}
        return JSONEncoder.default(self, o)

userJSON = json.dumps(user, cls=UserEncoder)
print(userJSON)



#or just use default encoder
userJSON = UserEncoder().encode(user)
print(userJSON)


user = json.loads(userJSON)
#its a dict

def decode_user(dct):
    if User.__name__ in dct:
        return User(name=dct['name'], age=dct['age'])
    return dct

user = json.loads(userJSON)
#its a object of user class

SyntaxError: ignored

# **Random Numbers**

In [ ]:
# import random as r
# r.random
# r.uniform
# r.randrange
# r.randint
# r.normalvariate

# # for a list as l
# r.choice(l)
# r.sample(l, 3)
# r.choices(l, k=3)
# r.shuffle(l)  #inplace, does not return

In [ ]:
r.seed(1)
print(r.randint(1,10))
r.seed(2)
print(r.randint(1,10))
r.seed(1)
print(r.randint(1,10))    #prints the same as first
r.seed(2)
print(r.randint(1,10))    #prints the same as second

In [ ]:
import secrets as sec

print(sec.randbelow(10))
print(sec.randbebits(4))

sec.choice



#for numpy
import numpy as np
np.random.seed(1)         #
print(np.randon.rand(3,3))
print(np.randon.randint(0,10, (3,4)))

np.random.shuffle(arr)  #shuffles only on one axis

# **Decorators**
- Function Decorators
- Class Decorators

In [ ]:
@mydecorator
def do():
    pass

In [ ]:
def sedeco(func):

    def wrapper():
        print('s')
        func()
        print('e')
    return wrapper

def print_name():
    print('m')

print_name()

m

In [ ]:
print_name = sedeco(print_name)
print_name()

s
m
e

In [ ]:
def sedeco(func):

    def wrapper():
        print('s')
        func()
        print('e')
    return wrapper

@sedeco
def print_name():
    print('m')

print_name()

s
m
e

In [ ]:
#if func has arguements
def sedeco(func):

    def wrapper(*args, **kwargs):
        print('s')
        func(*args, **kwargs)
        print('e')
    return wrapper

@sedeco
def print_name(s):
    print(s)
    return "ee"

print_name('fd')

s
fd
e

In [ ]:
#if func has arguements
def sedeco(func):

    def wrapper(*args, **kwargs):
        print('s')
        r = func(*args, **kwargs)
        print('e')
        return r
    return wrapper

@sedeco
def print_name(s):
    print(s)
    return "a"

re = print_name('fd')
print(re)
#we have to save it in the wrapper and return from there in this case

s
fd
e
a

In [ ]:
def sedeco(func):

    def wrapper(*args, **kwargs):
        print('s')
        r = func(*args, **kwargs)
        print('e')
        return r
    return wrapper

@sedeco
def print_name(s):
    print(s)
    return "a"

print(help(print_name))
print(print_name.__name__)

Help on function wrapper in module __main__:

wrapper(*args, **kwargs)

None
wrapper

In [ ]:
#to fix this
import functools

def sedeco(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        print('s')
        r = func(*args, **kwargs)
        print('e')
        return r
    return wrapper

@sedeco
def print_name(s):
    print(s)
    return "a"

print(help(print_name))
print(print_name.__name__)

Help on function print_name in module __main__:

print_name(s)

None
print_name

In [1]:
#nested decorator
import functools

def repeat(num_times):
    def decorator_repeat(func):
        @functools.wraps(func)
        def wrapper(*args, **kwargs):
            for _ in range(num_times):
                result = func(*args, **kwargs)
            return result
        return wrapper
    return decorator_repeat

@repeat(num_times=4)
def greet(name):
    print(f'Hello {name}')

greet('alex')

Hello alex
Hello alex
Hello alex
Hello alex

In [6]:
#stacking decorators
def sedeco(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        print('s')
        r = func(*args, **kwargs)
        print('e')
        return r
    return wrapper

def debug(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        args_repr = [repr(a) for a in args]
        kwargs_repr = [f"{k}={v!r}" for k,v in kwargs.items()]
        signature = ", ".join(args_repr+kwargs_repr)
        print(f"calling {func.__name__}({signature})")
        result = func(*args, **kwargs)
        print(f"{func.__name__!r} return {result!r}")
        return result
    return wrapper

@debug
@sedeco
def say_hello(name):
    print(f'Hello {name}')
    return f'Hello {name}'

say_hello('Alex')

calling say_hello('Alex')
s
Hello Alex
e
'say_hello' return 'Hello Alex'

'Hello Alex'

- `%r is not a valid placeholder in the str.format() formatting operations; it only works in old-style % string formatting. It indeed converts the object to a representation through the repr() function.`

- `In str.format(), !r is the equivalent, but this also means that you can now use all the format codes for a string. Normally str.format() will call the object.__format__() method on the object itself, but by using !r, repr(object).__format__() is used instead.`

- `There are also the !s and (in Python 3) !a converters; these apply the str() and ascii() functions first.`

- `The 0 in front indicates what argument to the str.format() method will be used to fill that slot; positional argument 0 is "Hello" in your case. You could use named arguments too, and pass in objects as keyword arguments:`

- `"{greeting!r:20}".format(greeting="Hello")  `

- `Unless you are using Python 2.6, you can omit this as slots without indices or names are automatically numbered; the first {} is 0, the second {} takes the second argument at index 1, etc.`

In [9]:
# Class decorators
class CountCalls:

    def __init__(self, func):
        self.func = func
        self.num_calls = 0
    
    def __call__(self, *args, **kwargs):           #that way we can run class as a function and tell what it does, btw its like oncall()
        print("called")

cc = CountCalls(None)
cc()    

@CountCalls
def say_hello():
    print("hello")

called

In [10]:
# Class decorators
class CountCalls:

    def __init__(self, func):
        self.func = func
        self.num_calls = 0
    
    def __call__(self, *args, **kwargs):
        self.num_calls += 1
        print(f"called, now {self.num_calls} times")
        return self.func(*args, **kwargs)

@CountCalls
def say_hello():
    print("hello")

say_hello()
say_hello()

called, now 1 times
hello
called, now 2 times
hello

# **Generators**

# **Threading vs Multiprocessing**

# **Threading**

# **Multiprocessing**

# **Function arguments**

# **The asterisk (*) operator**


# **Shallow vs Deep Copying**

# **Context Managers**

In [ ]:
f = open(....)
fs = f.read()
f.close 

# is same as
with open(..) as f:
    fs = f.read()